aiohttp
https://github.com/Anshusharma75/jhamak/archive/refs/heads/master.zip
appdirs
beautifulsoup4
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
lk21
lxml
messages
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
pytz
requests
https://github.com/root-test7/speedy/archive/refs/heads/master.zip
telegraph
tenacity
TgCrypto
https://github.com/rootuttu/utub-plug/archive/refs/heads/master.zip
